<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM
        "https://testng.org/testng-1.0.dtd">

<suite name="Support Ticket Test Suite">

    <test name="API Tests">

        <classes>

            <class name="supporttickets.api.TicketValidationTest"/>
            <class name="supporttickets.api.TicketQueryTest"/>
            <class name="supporttickets.api.TicketUpdateTest"/>

        </classes>

    </test>

    <test name="UI Tests">

        <classes>

            <class name="supporttickets.ui.DashboardTest"/>
            <class name="supporttickets.ui.CreateTicketTest"/>
            <class name="supporttickets.ui.TicketUpdateUITest"/>

        </classes>

    </test>

</suite>